In [2]:
%matplotlib inline

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sbn
import bokeh as bok
import plotly as plot

In [7]:
# Customization
sbn.set() # matplotlib defaults
# Any Tweeks that normally go in .matplotlibrc, etc., should explicitly go here
plt.rcParams['figure.figsize'] = (12, 8)
%config InlineBackend.figure_format='retina'

In [8]:
from IPython.display import IFrame

In [20]:
IFrame('http://www.nbs.sk/en/home', width=700, height=350)

In [24]:
dframe= pd.read_csv('macrostat.csv')

In [25]:
#Tip use .head()
dframe.head()

,Q/Time;GDP Expenditure method,GDP - Expenditure method,Constant prices,SA,GDP - Gross domestic product,[SK,r,sa,mil. Eur],SO SR
0,1Q1993;7687.3711884008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2Q1993;7687.3711884008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3Q1993;7794.2256479195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4Q1993;7884.6386654354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1Q1994;8003.6967092835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
plt.scatter(dframe.r, dframe.SA)
plt.xlabel("Number of Employees")
plt.ylabel("Labour Hours Worked")

AttributeError: 'DataFrame' object has no attribute 'r'